body {
  background-color: #f1f1f1;
  display: flex;
  flex-direction: column;
  margin: 0px;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}

.Layout {
  width: 90%;
  padding: 10px;
  border-radius: 15px;
  background-color: #f1f1f1;
  height: 100%;
  gap: 15px;
  display: flex;
  flex-direction: column;
}
.Layout .main {
  display: flex;
  flex: 4;
  width: 100%;
  gap: 15px;
}
.Layout .main .profile {
  height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  min-width: 250px;
  box-shadow: 0px 0px 5px 0px #888888;
}
.Layout .main .profile .DP {
  flex: 2;
  display: flex;
  height: fit-content;
  width: 100%;
  position: relative;
}
.Layout .main .profile .DP .name {
  position: absolute;
  bottom: 8px;
  left: 10px;
  font-size: 30px;
}
.Layout .main .profile .current {
  display: flex;
  height: 200px;
  flex: 1;
  width: calc(100% - 20px);
  padding: 10px;
}
.Layout .main .profile .current .icon {
  display: flex;
  flex-direction: column;
  width: 60px;
  height: 100%;
}
.Layout .main .profile .current .icon > div {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  padding: 8px 0px;
  color: #009688;
}
.Layout .main .profile .current .ref > div {
  display: flex;
  flex: 1;
  justify-content: flex-start;
  margin-left: 10px;
  align-items: space-between;
  font-size: 16px;
  padding: 8px 0px;
  color: #757575;
}
.Layout .main .profile .current .ref {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.Layout .main .profile .skill {
  display: flex;
  border-top: solid 1px #f1f1f1;
  flex-direction: column;
  width: calc(100% - 20px);
  flex: 1;
  padding: 10px;
}
.Layout .main .profile .skill .head {
  display: flex;
  justify-content: start;
  align-items: center;
}
.Layout .main .profile .skill .head .icon {
  display: flex;
  flex-direction: column;
  width: 60px;
  color: #009688;
  font-size: 20px;
}
.Layout .main .profile .skill .head .ref {
  font-size: 18px;
  font-weight: 600;
  color: #757575;
}
.Layout .main .profile .skill .title {
  font-size: 15px;
  color: #757575;
  padding: 10px;
}
.Layout .main .profile .skill .stat {
  flex: 1;
}
.Layout .main .profile .skill .stat > .bar {
  width: 95%;
  height: 18px;
  color: #ffffff;
  background-color: rgba(241, 241, 241, 0.4980392157);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  position: relative;
}
.Layout .main .profile .skill .stat > .bar .color {
  text-align: center;
  height: 18px;
  background-color: #009688;
  border-radius: 10px;
  position: absolute;
  left: 0px;
}
.Layout .main .profile .skill .stat > .bar .text {
  color: #ffffff;
  text-align: center;
  position: absolute;
}
.Layout .main .profile .language {
  display: flex;
  flex-direction: column;
  width: calc(100% - 20px);
  flex: 1;
  padding: 10px;
}
.Layout .main .profile .language .head {
  display: flex;
  justify-content: start;
  align-items: center;
}
.Layout .main .profile .language .head .icon {
  display: flex;
  flex-direction: column;
  width: 60px;
  color: #009688;
  font-size: 20px;
}
.Layout .main .profile .language .head .ref {
  font-size: 18px;
  font-weight: 600;
  color: #757575;
}
.Layout .main .profile .language .title {
  font-size: 15px;
  color: #757575;
  padding: 10px;
}
.Layout .main .profile .language .stat {
  flex: 1;
}
.Layout .main .profile .language .stat > .bar {
  width: 95%;
  height: 22px;
  color: #ffffff;
  background-color: rgba(241, 241, 241, 0.4980392157);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  position: relative;
}
.Layout .main .profile .language .stat > .bar .color {
  text-align: center;
  height: 18px;
  background-color: #009688;
  border-radius: 10px;
  position: absolute;
  left: 0px;
}
.Layout .main .profile .language .stat > .bar .text {
  color: #ffffff;
  text-align: center;
  position: absolute;
}
.Layout .main .details {
  display: flex;
  height: 100%;
  width: 100%;
  flex: 2;
  flex-direction: column;
  gap: 10px;
}
.Layout .main .details .workexp, .Layout .main .details .education {
  box-shadow: 0px 0px 5px 0px #888888;
  background-color: #ffffff;
  padding: 0px 10px;
}
.Layout .main .details .workexp .title, .Layout .main .details .education .title {
  display: flex;
  gap: 20px;
  margin-top: 15px;
  font-size: 36px;
  color: #757575;
  height: 60px;
  padding: 15px;
}
.Layout .main .details .workexp .front, .Layout .main .details .workexp .web, .Layout .main .details .workexp .Graphic, .Layout .main .details .education .front, .Layout .main .details .education .web, .Layout .main .details .education .Graphic {
  margin-left: 30px;
}
.Layout .main .details .workexp .front .head, .Layout .main .details .workexp .web .head, .Layout .main .details .workexp .Graphic .head, .Layout .main .details .education .front .head, .Layout .main .details .education .web .head, .Layout .main .details .education .Graphic .head {
  color: #757575;
  font-weight: bolder;
  font-size: 20px;
}
.Layout .main .details .workexp .front .date, .Layout .main .details .workexp .web .date, .Layout .main .details .workexp .Graphic .date, .Layout .main .details .education .front .date, .Layout .main .details .education .web .date, .Layout .main .details .education .Graphic .date {
  display: flex;
  gap: 10px;
  padding: 15px;
  padding-left: 0px;
  color: #009688;
  font-size: 15px;
}
.Layout .main .details .workexp .front .date .box, .Layout .main .details .workexp .web .date .box, .Layout .main .details .workexp .Graphic .date .box, .Layout .main .details .education .front .date .box, .Layout .main .details .education .web .date .box, .Layout .main .details .education .Graphic .date .box {
  color: white;
  background-color: #009688;
  height: 18px;
  width: 60px;
  border-radius: 5px;
  text-align: center;
}
.Layout .main .details .workexp .front .border, .Layout .main .details .workexp .web .border, .Layout .main .details .workexp .Graphic .border, .Layout .main .details .education .front .border, .Layout .main .details .education .web .border, .Layout .main .details .education .Graphic .border {
  border-bottom: 1px solid #f1f1f1;
  padding: 10px;
  width: 95%;
  margin-bottom: 15px;
}

.footer {
  width: calc(100% - 50px);
  height: 100%;
  flex: 1;
  background-color: #009688;
  gap: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  padding: 25px;
}
.footer div {
  display: flex;
  gap: 10px;
}

@media screen and (max-width: 600px) {
  body {
    margin: 0px 15px;
  }
  .Layout {
    width: 100%;
    padding: 10px;
  }
  .Layout .main {
    display: flex;
    flex-direction: column;
  }
}

/*# sourceMappingURL=style.css.map */
